<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/bb7156ef-d3a8-47f1-be2d-b3b8cdf1bf45/resourceGroups/LMSRepoDevOps-rg/providers/Microsoft.Web/sites/LMSRepoDevOps</ResourceId>
    <ResourceGroup>LMSRepoDevOps-rg</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://lmsrepodevops.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>783ede59-d939-4044-b94a-89a636ad7729</ProjectGuid>
    <PublishUrl>https://lmsrepodevops.scm.azurewebsites.net/</PublishUrl>
    <UserName>$LMSRepoDevOps</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>